<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <connectionStrings>
    <add name="ConectSysConnStr" connectionString="Data Source=DESKTOP-R4LUVVS;Initial Catalog=TesteLog;User ID=sa;Password=123;Persist Security Info=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

   <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog41">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="database" type="Database">
        <connectionString>
          Data Source=DESKTOP-R4LUVVS;Initial Catalog=TesteLog;Persist Security Info=True;User ID=sa;Password=123
        </connectionString>
        <commandText>
          INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[ServiceName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @serviceName);
        </commandText>
        <parameter name="@log_date" layout="${date}" />
        <parameter name="@thread" layout="${threadid}" />
        <parameter name="@log_level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception}" />
        <parameter name="@serviceName" layout="ConectCar.Comercial.Cliente.Venda.Batch.ProcessadorPedido" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="database" />
    </rules>
  </nlog>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>



  <runtime>



    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">



      <dependentAssembly>



        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Diagnostics.EventFlow.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-1.1.6.0" newVersion="1.1.6.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.ComponentModel.TypeConverter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />



      </dependentAssembly>



      <dependentAssembly>



        <assemblyIdentity name="Validation" publicKeyToken="2fc06f0d701809a7" culture="neutral" />



        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />



      </dependentAssembly>



    </assemblyBinding>



  </runtime>
</configuration>
